body { 
  background: url(nasty_fabric_@2X.png);
}


h1 {
  Color: #CDD3DC;
  float: right;
  background-color: #DCCDDB;
  border: 5px solid #3d1d5d;
  width: 400%;
  text-align: right;
}

.sidebar{
  display: flex;
  flex-wrap: wrap;
}

#contact {
  float: right;
}
