body { 
  background: url(nasty_fabric_@2X.png);
}

#pic{
  float: right;
  margin: 100px;
  Border: 5px solid #3d1d5d;
  box-shadow: 5px 5px 10px #000;
  border-radius: 10%;
}
#vid{
  float: right;
  margin: 200px;
  border:5px solid #3d1d5d;
  box-shadow: 10px 10px 20px #000;
  
}

h1 {
  Color: #6E7175;
  float: right;
  background-color: #DCCDDB;
  border: 5px solid #3d1d5d;
  width: 400%;
  text-align: right;
}

a{
  text-decoration: none;
  flex-wrap: wrap;
}
a:active{
  position: relative;
  color: limegreen;
}

.contact {
  margin: 5px;
}
nav{
  width: 1000px;
  Margin-left: auto;
  margin-right: auto;

}

nav li{
  display: inline;
  text-decoration: none;
  text-align: center;
  margin: 30px;
  font: bold 11px Arial;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
nav li:active{
  position: relative;
  down: 10px;
}

.info-box{
 box-shadow: 5px 5px 10px #000; 
 Background-color: #eeeeee;
 Border: 5px solid gray;
 display: flex;
 flex-direction: column;
 margin: 5px;
 padding: 5px 10px 5px 10px;
  border-radius: 5%;
}
p{

}
#refs{
  text-align: center;
}
header{
  box-shadow: 20px;
 {
.main{
  box-shadow: 5px 5px 5px #000;
 {

/*remember, .class, #ID */
/*This website looks like something fresh out of the early 2000's */ 
